@import url(./public.css);
@import url(./bill.css);
.form-control{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .body {
        flex-direction: column;
      }
  .contant{
    width: 100%;
  }
  .contant .row{
   flex-wrap: wrap;
    margin-bottom: 10px;
  }
}